@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src=""
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>ED DUNCAN</p> <small><cite title="Source Title">Cleveland, OH, USA  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> eduncan311@yahoo.com
                <br/> <i class="glyphicon glyphicon-globe"></i> www.eduncan.net
                <br/> <i class="glyphicon glyphicon-gift"></i> December 10</p>
        </div>
        </div>
    </div>
