@{
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <div id="info">
        <div id="info-content">
            <h1>Pigeon Blood Red
            <strong>Ed Duncan</strong></h1>
        </div>
    </div>

    <!--Main page Toogle bar -->
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="menu">
        <label class="menu-toggle" for="menu"><span>Toggle</span></label>
        <ul>

            <!--Change this name once you get confirmation from the Author-->
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li> 
            <li>
                @Html.ActionLink("Contact","Contact", "Home")
            </li>

            <li>
                @Html.ActionLink("About", "About", "Home")
                </li>
            <li>
                @Html.ActionLink("PBMains", "Index", "PBMains")
            </li>
                </ul>
    </div>
</div><!-- #wrapper -->

