@{
    ViewBag.Title = "Home Page";
}
<nav class="ss-icon closed" tabindex="0">
    <span id="center-bar"></span>
    <a href="http://localhost:53771/Home/About">Twitter</a>
    <a href="#">Facebook</a>
    <a href="#">Pinterest</a>
    <a href="#">Google+</a>
    <a href="#">Ello</a>
</nav>
